.navbar-brand img{
    width: 70px;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav .dropdown-menu {
    left: 266px;
    top: 54px;
}

.navbar-nav .dropdown-menu > * {
    margin: 0 10px;
    color: black;
}